<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost on Board</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,400;8..144,900&display=swap"
        rel="stylesheet">

    <!-- Update the link to use url_for for the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" type="text/css" />
</head>

<body>

    <header class="page-header">
    </header>

    <main>
        <section class="login">

            <div class="form-container">
                <img src="static/images/big-location.svg" alt="A drawing of a person on a phone beside a giant location pin">
                <form action="/" method="post" name="login-form">
                    <fieldset class="login">
                        <legend>Lost on Board</legend>
                        <label for="username">Username</label>
                        <input type="text" class="text" name="username" id="username">
                        <label for="password">Password</label>
                        <input type="password" class="text" name="password" id="password">
                    </fieldset>
                    <input type="submit" class="submit" value="Login">
                </form>
                <p class="error">{{ error_message }}</p>
                <!-- Update the link to use url_for for the register-account.html page -->
                <a href="{{ url_for('register_page') }}" id="register-account"
                    class="register-account">Don't have an account? Click here!</a>

            </div>

        </section>

    </main>

    <footer>
        <p>This project was created by Cesar, Juan, Kassandra, and Matheus for HackCamp 2023.</p>
    </footer>

</body>

</html>